@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    font-size: 15px;
    font-family: 'Roboto',sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.table {
    background-color: #425a6d;
    height: 100vh;
    padding-top: 5rem;
}

.container {
    margin: 0 auto;
    width: 40vw;
}

.title {
    font-size: 15px;
    color: #fff;
}

.score {
  color: #fff;
}
.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 0.5rem;

    background-color: #0f0f0e;
    width: 40vw;
    padding: 0.5rem;

    border-radius: 0.625rem;
    box-shadow: 0.875rem 0.875rem 0 0 #0004;
}

.card {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5rem;
    height: 6rem;
    background-color: #faf60b;
    border-radius: 00.625rem;

    cursor: pointer;
    color: transparent;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;


}

.open {
    background-color: beige;
    color: black;
    transform: rotateY(0deg);
}
